<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    
<!--<!DOCTYPE html>
	<html>
    <head>
        <title>
            Demo App
        </title>
        <link rel="stylesheet" href="/home.css">
    </head>
    <body> -->