<%- include("./partials/header") -%>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
   
    </head>

    <body>
        <%- include("navbar") -%>
            <%- include("flash") -%>
            <br><br>

          
                <br>
                <h1>Login to your Account</h1>
                <b>
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" style="color:black;" class="form-control" id="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" style="color:black;"  class="form-control" id="password" placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" style="font-size: 1.2rem">Login</button>
                </form>
                <br>
                <p><b style="font-weight: bold">Do not have a account <b><br></p>
                    <a href="/signup" class="btn btn-secondary btn-lg" style="font-size: 1.2rem">Create New One</a>
            </b>
            <%- include("./partials/footer") -%>